<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>71449826242-1s98ddv68uhou24nj9tudnhebh5n5jii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71449826242-1s98ddv68uhou24nj9tudnhebh5n5jii</string>
	<key>API_KEY</key>
	<string>AIzaSyCIfvHvvZcIyO7i2HQFHrkI82R3RqF8zKc</string>
	<key>GCM_SENDER_ID</key>
	<string>71449826242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.mprog.YamievanWijnbergen-Programmeerproject</string>
	<key>PROJECT_ID</key>
	<string>programmeerproject-820ae</string>
	<key>STORAGE_BUCKET</key>
	<string>programmeerproject-820ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:71449826242:ios:4d81a23459ea38ed</string>
	<key>DATABASE_URL</key>
	<string>https://programmeerproject-820ae.firebaseio.com</string>
</dict>
</plist>